<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户个人中心</title>
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/info.css">
    <style>
        input[name=userpwd]+span{
            color:red;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-center gddw" >
<!--    <form action="/users/info" method="post" enctype="multipart/form-data">-->
<!--        <h3 style="text-align: center;">用户个人中心</h3>-->
<!--        用户名: <input required type="text" name="username" value="<%=data.user.username%>"><br>-->
<!--        头像: <input name="user_avatar" type="file" id="article_pic"><br>-->
<!--        密码： <input required type="password" name="userpwd">-->
<!--        <%if(data.error){%>-->
<!--        <span><%=data.error.message%></span>-->
<!--        <%}%>-->
<!--        <br>-->
<!--        确认密码： <input required type="password" name="reuserpwd"> <br>-->
<!--        绑定邮箱： <input required type="email" name="email" value="<%=data.user.email%>"> <br>-->
<!--        用户注册时间：<p class="form-control"><%=data.user.User_creation_time%></p>-->
<!--        <input type="submit" class="btn btn-primary col-12 mt-3 mb-2">点击修改</input>-->
<!--    </form>-->
    <form class="bg-white col-4 pb-3 dlbd" action="/users/info" method="post" enctype="multipart/form-data">
        <h3 style="text-align: center;">用户个人中心</h3>
        <div class="form-group">
            <label class=" col-form-label">用户名</label>
            <input required type="" class="form-control" name="username" value="<%=data.user.username%>" pattern="^.{3,12}$">
            <span class=" col-form-label">用户头像</span>
            <div style="width:150px;height:100px;overflow: hidden;">
                <img src="/uploads/<%=data.user.user_avatar%>" name="user_avatar" alt="" style="width: 100%;">
            </div>
            <input name="user_avatar" type="file" id="article_pic">
        </div>
        <div class="form-group">
            <label>修改密码</label>
            <input required type="password" class="form-control" name="userpwd" pattern="^.{3,12}$" placeholder="请输入6-12位的密码">
            <%if(data.error){%>
            <span><%=data.error.message%></span>
            <%}%>
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input required type="password" class="form-control" name="reuserpwd" pattern="^.{3,12}$" placeholder="请输入6-12位的密码">
        </div>
        <div class="form-group">
            <label>绑定邮箱</label>
            <input required type="email" class="form-control" name="email" value="<%=data.user.email%>">
        </div>
        <div class="form-group">
            <p>用户注册时间(不可更改)</p>
            <p class="form-control"><%=data.user.User_creation_time%></p>
        </div>
        <button type="submit" class="btn btn-primary col-12 mt-3 mb-2">点击修改</button>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</html>